*.DS_Store
*.pyc
*.swp
*.pem
*.swp
.mypy_cache
*.ipynb
*.egg-info
*.ruby-version
manifest.txt
missing-metadata.txt
dist
build
output
datasets
iiif-downloads
.ipynb_checkpoints
models
!pixplot/web/assets/vendor/dist/
aireverie-datasets
